@media (width > 425px) {
  .card {
    max-width: 250px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    border: none;
    background-color: #d7e9b9;
    box-shadow: 0px 0px 10px grey;
    animation: flotar 3s infinite ease;
  }

  @keyframes flotar {
    0% {
      transform: translate(0, 0px);
    }
    50% {
      transform: translate(0, 15px);
    }
    100% {
      transform: translate(0, 0px);
    }
  }

  .card .pokemonImg {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .pokemonImg {
    width: 150px;
    height: 150px;
  }

  .card_list {
    list-style: none;
  }

  .card_item {
    align-items: center;
    list-style-image: url("../../assets/pokebola.png");
  }

  .input_id {
    width: 50px;
    height: 30px;
    border-radius: 15%;
    border: 1px rgb(175, 172, 172) solid;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #dddddd;
    text-align: center;
    color: rgb(41, 39, 39);
    padding: 0px;
    outline: none;
    box-shadow: 0 0 2px;
  }

  .input_id:focus {
    border: 2px rgb(243, 132, 29) solid;
  }
  .input_id:hover {
    cursor: pointer;
  }
  /* Hide arrows on input type number when it is focused */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  ::placeholder {
    font-weight: bold;
    font-family: "Poppins";
  }
}

@media (width <= 425px) {
  .card {
    max-width: 300px;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    border: none;
    background-color: #d7e9b9;
    box-shadow: 0px 0px 10px grey;
    animation: flotar 3s infinite ease;
  }

  @keyframes flotar {
    0% {
      transform: translate(0, 0px);
    }
    50% {
      transform: translate(0, 15px);
    }
    100% {
      transform: translate(0, 0px);
    }
  }

  .card .pokemonImg {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .pokemonImg {
    width: 150px;
    height: 150px;
  }

  .card_list {
    list-style: none;
  }

  .card_item {
    align-items: center;
    list-style-image: url("../../assets/pokebola.png");
  }

  .input_id {
    width: 50px;
    height: 30px;
    border-radius: 15%;
    border: 1px rgb(175, 172, 172) solid;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #dddddd;
    text-align: center;
    color: rgb(41, 39, 39);
    padding: 0px;
    outline: none;
    box-shadow: 0 0 2px;
  }

  .input_id:focus {
    border: 2px rgb(243, 132, 29) solid;
  }

  .input_id:hover {
    cursor: pointer;
  }
  /* Hide arrows on input type number when it is focused */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  ::placeholder {
    font-weight: bold;
    font-family: "Poppins";
  }
}
